@using RP.Core22.AppData.Models
@using RP.Core22.AppData.Services
@inject Microsoft.Extensions.Options.IOptions<BusinessInfo> businessOptions

@{
    var opt = businessOptions.Value;
    string e_mail = "mailto:" + (opt.Email).Trim();
    string intnlPhone;
    string localPhone = BusinessInfoService.getFormattedPhone(opt.Telephone, out intnlPhone);

}

<div class="footer-wrapper">
    <div class="container footer">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
                <ul class="contact-info">
                    <li data-toggle="tooltip" data-placement="top" title="Dial within Australia"><em class="fas fa-phone"></em> @localPhone</li>
                    <li data-toggle="tooltip" data-placement="top" title="Dial from Overseas" ><em class="fas fa-globe"></em>  @intnlPhone</li>
                    <li><em class="fas fa-envelope"></em><a href=@e_mail> @opt.Email</a></li>
                    <li><em class="fas fa-map-marker"></em> @opt.StreetAddress, @opt.Suburb</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp; @opt.State @opt.PostCode</li>
                    <li>&nbsp;&nbsp;&nbsp;&nbsp; @opt.Country</li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <ul class="footer-other-links clearfix">
                    <li><a href="#"><em class="fas fa-check-circle"></em>How much will it cost?</a></li>
                    <li><a href="#"><em class="fas fa-check-circle"></em>Frequently asked questions </a></li>
                    <li><a href="#"><em class="fas fa-check-circle"></em>Customer tesimonials</a></li>
                    <li><a href="#"><em class="fas fa-check-circle"></em>Recent works </a></li>
                    <li><a href="#"><em class="fas fa-check-circle"></em>Help &amp; Support Center</a></li>
                    <li><a href="#"><em class="fas fa-check-circle"></em>Get a free quote </a></li>
                </ul>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <ul class="footer-other-links clearfix">
                    <li><a href="#"><em class="fas fa-check-circle"></em>How much will it cost?</a></li>
                    <li><a href="#"><em class="fas fa-check-circle"></em>Frequently asked questions </a></li>
                    <li><a href="#"><em class="fas fa-check-circle"></em>Customer tesimonials</a></li>
                    <li><a href="#"><em class="fas fa-check-circle"></em>Recent works </a></li>
                    <li><a href="#"><em class="fas fa-check-circle"></em>Help &amp; Support Center</a></li>
                    <li><a href="#"><em class="fas fa-check-circle"></em>Get a free quote </a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="privacy">
                    <span class="copyright text-wrap"> &copy; 20218 - @DateTime.Now.Year - @opt.BusinessName </span>
                    &nbsp; | &nbsp;
                    <a class="TermsCss" asp-area="" asp-page="/Terms" rel="nofollow">Terms Of Use</a>&nbsp; |&nbsp;
                    <a class="TermsCss" asp-area="" asp-page="/Privacy" rel="nofollow">Privacy Statement</a>
                </div>

            </div>
        </div>
    </div>
</div>


@*    <div class="footer">
        <div class="item">
            <ul class="contact-info">
                <li><em class="fas fa-phone"></em>+61 2-8004-9034</li>
                <li><em class="fas fa-envelope"></em><a href=@e_mail> @opt.Email</a></li>
                <li><em class="fas fa-map-marker"></em>@opt.StreetAddress, @opt.Suburb, @opt.State @opt.PostCode, @opt.Country</li>
            </ul>
        </div>
        <div class="item">
            <ul class="home-other-links clearfix">
                <li><a href="#"><em class="fas fa-check-circle"></em>How much will it cost?</a></li>
                <li><a href="#"><em class="fas fa-check-circle"></em>Frequently asked questions </a></li>
                <li><a href="#"><em class="fas fa-check-circle"></em>Customer tesimonials</a></li>
                <li><a href="#"><em class="fas fa-check-circle"></em>Recent works </a></li>
                <li><a href="#"><em class="fas fa-check-circle"></em>Help &amp; Support Center</a></li>
                <li><a href="#"><em class="fas fa-check-circle"></em>Get a free quote </a></li>
            </ul>
        </div>
    </div>
    <div class="footer">
        <div class="item">
            <span class="copyright text-wrap"> &copy; 2021 - @DateTime.Now.Year - @opt.BusinessName </span>
            &nbsp; | &nbsp;
            <a class="TermsCss" asp-area="" asp-page="/Terms" rel="nofollow">Terms Of Use</a>&nbsp; |&nbsp;
            <a class="TermsCss" asp-area="" asp-page="/Privacy" rel="nofollow">Privacy Statement</a>

        </div>

    </div>*@
