@page
@model RP.Core22.Pages.AboutModel
@{
    ViewData["Title"] = "About Us";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="top-header-text network-name text-center">
                <h1>@ViewData["Title"]</h1>
            </div>
        </div>
    </div>
</div>
<environment include="Development,Staging">
    <div class="card text-center">
        <div class="card-header">
            <h1>Visual Studio Solution Name: <span class="text-success">@Html.DisplayFor(model => model.SolutionName)</span></h1>
        </div>
        <div class="card-body">
            <h3 class="card-title">Project Name : <span class="span-bold text-danger">@Html.DisplayFor(model => model.MyApplicationName)</span></h3>
            <p class="card-text"> ASPNETCORE_ENVIRONMENT : <span class="btn btn-danger">@Html.DisplayFor(model => model.ThisEnvironment)</span> </p>

            <environment include="Staging">
                <strong>HostingEnvironment.EnvironmentName is Staging</strong>
            </environment>
            <environment include="Development">
                <strong>HostingEnvironment.EnvironmentName is Development</strong>
            </environment>
            <p>Application Name : <span class="btn alert-primary">@Html.DisplayFor(model => model.MyApplicationName)</span> </p>
            <p>TargetFramework : <span class="btn alert-primary">@Html.DisplayFor(model => model.TargetFramework)</span> </p>

            <p>OS Description : <span class="btn alert-primary">@Html.DisplayFor(model => model.OSDescription)</span> </p>
            <p>Process Architecture: <span class="btn alert-primary">@Html.DisplayFor(model => model.ProcessArchitecture)</span></p>
            <p>System Date : <span class="btn alert-primary">@DateTime.Now.Date</span> </p>
            <p>System Day : <span class="btn alert-primary">@DateTime.Now.Day</span> </p>
            <p>System Day Of Week : <span class="btn alert-primary">@DateTime.Now.DayOfWeek</span> </p>
            <p>System Month : <span class="btn alert-primary">@DateTime.Now.Month</span> </p>
            <p>System Year : <span class="btn alert-primary">@DateTime.Now.Year</span> </p>
            <p>System Time Of Day : <span class="btn alert-primary">@DateTime.Now.TimeOfDay</span> </p>
            <p>System Hour : <span class="btn alert-primary">@DateTime.Now.Hour</span> </p>
            <p>System Minute : <span class="btn alert-primary">@DateTime.Now.Minute</span> </p>
            <p>System Second : <span class="btn alert-primary">@DateTime.Now.Second</span> </p>

            <p>.NET Core Version : <span class="btn alert-primary">@Html.DisplayFor(model => model.DotNetCoreVersion)</span> </p>
            <p>Microsoft ASP.NET Core Version : <span class="btn alert-primary">@Html.DisplayFor(model => model.DotNetCoreVersion)</span> </p>

            <p class="text-wrap">
                .NET Core  @Html.DisplayFor(model => model.DotNetCoreVersion)  installed in:  @System.Runtime.InteropServices.RuntimeEnvironment.GetRuntimeDirectory()
            </p>
            <p><span class="btn alert-primary text-wrap">@Html.DisplayFor(model => model.VersionText)</span> </p>

        </div>
        <div class="card-footer text-muted">
            
            <div class="card text-center">
                <div class="card-header">
                    <h3>.NET Framework Info</h3>
                </div>
                <div class="card-body">
                    <p>.NET Framework Current Runtime : <span class="btn alert-primary">@System.Environment.Version </span> </p>
                    <p>.NET Framework Version : <span class="btn alert-primary">@Html.DisplayFor(model => model.NetFrameworkVer) </span> </p>
                </div>
            </div>
        </div>
        </div>

    <div class="container mt-5">



        <div class="card mt-3">
            <div class="card-header">
                UI Framework
            </div>
            <div class="card-body">
                <h5 class="card-title">Bootstrap 4.3.1</h5>
                <a href="https://getbootstrap.com/docs/4.3/getting-started/introduction/" class="card-text" title="Bootstrap 4.3.1">https://getbootstrap.com/docs/4.3/getting-started/introduction/</a>
                <a href="https://getbootstrap.com/docs/4.3/getting-started/download/" class="btn btn-primary" aria-label="Bootstrap 4.3.1">Go to Bootstrap Download</a>
            </div>
        </div>

    </div>
</environment>



